:root {
  --image-url: url("ai-generated-car-in-shop.jpg");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: #247a99;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

nav {
  width: 100%;
  background-color: #fff;
  padding-left: 3em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#logo {
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
  text-decoration: none;
  width: 200px;
  min-width: 190px;
  height: 63px;
  padding-top: 10px;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 241, 1) 15%,
    rgba(0, 249, 255, 1) 30%,
    rgba(0, 255, 21, 1) 50%,
    rgba(255, 239, 0, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
}

#logo > div {
  background: white;
}

#logo > div > h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
}

#logo > div > h2 {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

nav ul li:hover a {
  text-decoration: none;
  color: #0054a8;
}
main {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 225, 0.8)
    ),
    var(--image-url) center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 70vh;
}

footer{
  padding: 1em 1em 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}