:root {
  --image-url: url("ai-generated-car-in-shop.jpg");
  --logo-height: 61px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: #247a99;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

nav {
  width: 100%;
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

#logo-burger {
  display: flex;
  justify-content: space-between;
}

#logo {
  display: block;
  text-decoration: none;
  cursor: pointer;
  width: 200px;
  min-width: 200px;
  height: var(--logo-height);
  padding-top: 10px;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 241, 1) 15%,
    rgba(0, 249, 255, 1) 30%,
    rgba(0, 255, 21, 1) 50%,
    rgba(255, 239, 0, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
}

#logo > div {
  width: 100%;
  background: white;
}

#logo > div > h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
}

#logo > div > h2 {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
}

.menu a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
}

.menu a:hover {
  background-color: #a7c7e7;
  color: #0054a8;
}

.menu a.active {
  box-shadow: 0 -4px 0 0px inset;
}

a#burger-menu {
  display: none;
}

footer {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer div {
  min-width: 335px;
}

footer div div.contact {
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.right-border {
  border-right: solid black 0.1em;
  text-align: right;
  padding-right: 0.5em;
}

#phone {
  padding-left: 0.5em;
}

#hours {
  padding-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }

  nav {
    flex-direction: column;
  }

  a#burger-menu {
    display: flex;
    align-items: center;
  }

  #my-menu-links {
    display: flex;
    flex-direction: column;
    display: none;
    padding-top: 1em;
  }

  #my-menu-links a {
    text-align: left;
  }

  #my-menu-links.show-menu {
    display: flex;
  }
}
